{% extends "base.html" %}
{% block content %}

<style>
   * {
       box-sizing: border-box;
   }
   /* Add a black background color to the top navigation */
   .navbar {
       overflow: hidden;
   }
   /* Style the links inside the navigation bar */
   .navbar {
       box-shadow: 0 1px 1px 0 rgba(0,0,0,1.9);
   }
   .navbar a {
       float: left;
       display: block;
       color: #000000;
       text-align: right;
       padding: 7px 40px;
       text-decoration: none;
       font-size: 17px;
       font-family: Roboto;
   }
   /* Change the color of links on hover */
   .navbar a:hover {
       color: #BD4D04;
   }

   div.top {
   font-family: Roboto;
   text-align: center;
   }

   legend {
  border: 1px solid #888;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: .5em;
  background-color: #B6452C;
}

body { padding-top: 70px;
       background-color: #DDC5A2;
       }

</style>


<div id="legend">
      <fieldset>
      <legend class="">Welcome {{ user_name }} !! <br>
          {{ message }}
      </legend>
      </fieldset>
    <div class="navbar" id="menu">
  <a href="/admin/home/{{ user_name }}">Home</a>
  <a href="/adminremoveu/{{ user_name }}">Remove Users</a>
              <a href="/adminremovei/{{ user_name}}">Remove Items</a>
    <a href="/logout">Sign Out</a>
  </div>
</div>

<div class="top">
<h3> ADMIN HOMEPAGE</h3>
<h5> Please check the backgroud of users and items to see if it is appropriate for Cloth ON Fly </h5>
<h5> It is extremely important for us the keep the community clean </h5>
<h5> You can either click the button down here or click the navigation bar options for actions. </h5>
</div>

<form class="form-horizontal" action='/adminremoveu/{{ user_name }}' method="POST" xmlns="http://www.w3.org/1999/html">
    <input type="submit" name="action" class="btn btn-info" value="Remove Users" style="margin-left:47%;"/>
</form>

<form class="form-horizontal" action='/adminremovei/{{ user_name }}' method="POST" xmlns="http://www.w3.org/1999/html">
    <input type="submit" name="action" class="btn btn-info" value="Remove Items" style="margin-left:47%;"/>
</form>


{% endblock %}