{% extends "base.html" %}
{% block content %}

<style>
   * {
       box-sizing: border-box;
   }
   /* Add a black background color to the top navigation */
   .navbar {
       overflow: hidden;
   }
   /* Style the links inside the navigation bar */
   .navbar {
       box-shadow: 0 1px 1px 0 rgba(0,0,0,1.9);
   }
   .navbar a {
       float: left;
       display: block;
       color: #000000;
       text-align: right;
       padding: 20px 40px;
       text-decoration: none;
       font-size: 17px;
       font-family: Roboto;
   }
   /* Change the color of links on hover */
   .navbar a:hover {
       color: #BD4D04;
   }
</style>


<div id="legend">
      <fieldset>
      <legend class="">Welcome {{ user_name }} !! <br>
          {{ message }}
      </legend>
      </fieldset>
    <div class="navbar" id="menu">
  <a href="/admin/home/{{ user_name }}">Home</a>
  <a href="/adminremoveu/{{ user_name }}">Remove Users</a>
              <a href="/adminremovei/{{ user_name}}">Remove Items</a>
    <a href="/logout">Sign Out</a>
  </div>


</div>

<form class="form-horizontal" action='/adminremoveu/{{ user_name }}' method="POST" xmlns="http://www.w3.org/1999/html">
    <input type="submit" name="action" class="btn btn-info" value="Remove Users" />
</form>

<form class="form-horizontal" action='/adminremovei/{{ user_name }}' method="POST" xmlns="http://www.w3.org/1999/html">
    <input type="submit" name="action" class="btn btn-info" value="Remove Items" />
</form>


{% endblock %}