{% extends "base.html" %}
{% block content %}
<div id="legend">
     <fieldset>
     <legend class="">Items for rent</legend>
       </fieldset>
   </div>
<div class="col-md-4" xmlns="http://www.w3.org/1999/html">
    {% for item in items %}
<img src="data:image/jpg;base64,'.base64_encode({{ item['Cloth_Image'] }})"/>
<hidden>  <h4> {{item['Item_ID']}} </h4> </hidden>
<h4> Brand Name : {{ item['Brand_Name'] }} </h4>
<h4> Original Price(USD) : {{ item['Original_Price'] }} </h4>
<h4> Rental Price(USD) : {{ item['Rental_Price'] }} </h4>
<h4> Deposit Amount (USD) : {{ item['Deposit'] }} </h4>
<h4> Size : {{ item['Size'] }} </h4>
   <!--<input type="number" id="days+{{ item['Item_ID'] }}" name="days+{{ item['Item_ID'] }}" placeholder="1" >Input the no. of days you want to rent this item</input>-->
   <a href="/rent/item/{{ item['Item_ID'] }}"><button class="btn btn-success"> Rent Now </button></a>
   {% endfor %}
</div>
{% endblock %}
