{% extends "base.html" %}
{% block content %}

<style>
   * {
       box-sizing: border-box;
   }
   /* Add a black background color to the top navigation */
   .navbar {
       overflow: hidden;
   }
   /* Style the links inside the navigation bar */
   .navbar {
       box-shadow: 0 1px 1px 0 rgba(0,0,0,1.9);
   }
   .navbar a {
       float: left;
       display: block;
       color: #000000;
       text-align: right;
       padding: 20px 40px;
       text-decoration: none;
       font-size: 17px;
       font-family: Roboto;
   }
   /* Change the color of links on hover */
   .navbar a:hover {
       color: #BD4D04;
   }
</style>

<div id="legend">
      <fieldset>
      <legend class="">Welcome {{ user_name }} !! <br>
          {{ message }}
      </legend>
<div class="navbar" id="menu">
  <a href="/sellerhome/{{ user_name }}">Home</a>
              <a href="/all_orders_for_seller/{{ user_name}}">All Orders</a>
  <a href="/orders_for_shipment/{{ user_name}}">Orders Ready for Shipment</a>
              <a href="/orders_for_depositrefund/{{ user_name}}">Orders for Refunding Deposit</a>
              <a href="/orders_for_depositwithhold/{{ user_name}}">Orders for Withholding Deposit</a>
    <a href="/logout">Sign Out</a>
  </div>
      </fieldset>
</div>
<div class="col-md-4">
    {% for order in orders %}
   <h4 style="margin-left:5em;">Order ID : {{ order['Order_ID'] }} : {{ order['Order_Status'] }}</h4>
    <p style="margin-left:5em;">Delivery Date : {{ order['Delivery_Date'] }}</p>
    <p style="margin-left:5em;">Shipping_Address : {{ order['Shipping_Address'] }}</p>
    <p style="margin-left:5em;">Shipping_Date : {{ order['Shipping_Date'] }}</p>
    <h4 style="margin-left:5em;"> ---- Buyer Details ---- </h4>
    <p style="margin-left:5em;">Buyer's First Name : {{ order['Buyer_FN'] }}</p>
    <p style="margin-left:5em;">Buyer's Last Name : {{ order['Buyer_LN'] }}</p>
    <p style="margin-left:5em;">Buyer's Email  : {{ order['Buyer_email'] }}</p>
    <p style="margin-left:5em;">Buyer's Contact : {{ order['Buyer_Contact'] }}</p>
    <h4 style="margin-left:5em;"> ---- Product Details ---- </h4>
    <p style="margin-left:5em;">Product ID : {{ order['Item_ID'] }}</p>
    <p style="margin-left:5em;">Product's Brand : {{ order['Brand'] }}</p>
    <p style="margin-left:5em;">Product's Type : {{ order['Type'] }}</p>
    <p style="margin-left:5em;">Product's Size  : {{ order['Size'] }}</p>
    <p style="margin-left:5em;">Product's Gender : {{ order['Gender'] }}</p>
    <p style="margin-left:5em;">Product's Original Price : {{ order['Original_Price'] }}</p>
    <p style="margin-left:5em;">Product's Rental Price  : {{ order['Rental_Price'] }}</p>
    <p style="margin-left:5em;">Product's deposit amount: {{ order['Deposit'] }}</p>
    <hr>
    {% endfor %}
</div>



{% endblock %}