<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<meta name="author" content="Tianyi Zhang">-->
<!--<meta charset="UTF-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" type="text/css" href="style.css">-->

<!--<body>-->
<!--&lt;!&ndash; Navigation Bar &ndash;&gt;-->
<!--<div class="navbar" id="menu">-->
  <!--<a href="return.html" class="return"> Return </a>-->
	<!--<a href="order.html" class="order"> Order </a>-->
	<!--<a href="index.html" class="home"> Home </a>-->
  <!--<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>-->
<!--</div>-->

<!--<br>-->
<!--</br>-->

<!--<style>-->
<!--img{-->
  <!--height: 350;-->
  <!--width: 200;-->
<!--}-->
<!--</style>-->

<!--<table width="100%" align="center">-->
	<!--<tr>-->
		<!--<td align="center">-->
			<!--<img src="images/cloth1.jpg" height="350" width="250">-->
		<!--</td>-->
		<!--<td align="center">-->
			<!--<img src="images/cloth2.jpg" height="350" width="250">-->
		<!--</td>-->
		<!--<td  align="center">-->
			<!--<img src="images/cloth3.jpg" height="350" width="250">-->
		<!--</td>-->
		<!--<td align="center">-->
			<!--<img src="images/cloth4.jpg" height="350" width="250">-->
		<!--</td>-->
	<!--</tr>-->
	<!--<tr>-->
		<!--<td align="center">Brand: Zara<br/>Price：$9.99-->
			<!--<br/>-->
			<!--<button class="btn btn-danger btn-block font-weight-bold" data-toggle="modal" data-target="#addToCart">Add To Cart</button>-->
		<!--</td>-->
		<!--<td align="center">Brand: H&M<br/>Price: $4.99-->
			<!--<br/>-->
			<!--<button class="btn btn-danger btn-block font-weight-bold" data-toggle="modal" data-target="#addToCart">Add To Cart</button>-->
		<!--</td>-->
		<!--<td align="center">Brand: Levis<br/>Price: $5.99-->
			<!--<br/>-->
			<!--<button class="btn btn-danger btn-block font-weight-bold" data-toggle="modal" data-target="#addToCart">Add To Cart</button>-->
		<!--</td>-->
		<!--<td align="center">Brand: White House<br/>Price: $19.99-->
			<!--<br/>-->
			<!--<button class="btn btn-danger btn-block font-weight-bold" data-toggle="modal" data-target="#addToCart">Add To Cart</button>-->
		<!--</td>-->
	<!--</tr>-->
	<!--<tr>-->
		<!--<td align="center">-->
			<!--<img src="images/cloth5.jpg" width=""="350" height="200">-->
		<!--</td>-->
		<!--<td align="center">-->
			<!--<img src="images/cloth6.jpg" width=""="350" height="200">-->
		<!--</td>-->
		<!--<td  align="center">-->
			<!--<img src="images/cloth7.jpg" width=""="350" height="200">-->
		<!--</td>-->
		<!--<td align="center">-->
			<!--<img src="images/cloth8.jpg" width=""="350" height="200">-->
		<!--</td>-->
	<!--</tr>-->
	<!--<tr>-->
		<!--<td align="center">Brand: Zara<br/>Price：$9.99-->
			<!--<br/>-->
			<!--<button class="btn btn-danger btn-block font-weight-bold" data-toggle="modal" data-target="#addToCart">Add To Cart</button>-->
		<!--</td>-->
		<!--<td align="center">Brand: H&M<br/>Price: $4.99-->
			<!--<br/>-->
			<!--<button class="btn btn-danger btn-block font-weight-bold" data-toggle="modal" data-target="#addToCart">Add To Cart</button>-->
		<!--</td>-->
		<!--<td align="center">Brand: Levis<br/>Price: $5.99-->
			<!--<br/>-->
			<!--<button class="btn btn-danger btn-block font-weight-bold" data-toggle="modal" data-target="#addToCart">Add To Cart</button>-->
		<!--</td>-->
		<!--<td align="center">Brand: White House<br/>Price: $19.99-->
			<!--<br/>-->
			<!--<button class="btn btn-danger btn-block font-weight-bold" data-toggle="modal" data-target="#addToCart">Add To Cart</button>-->
		<!--</td>-->
	<!--</tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
