{% extends "base.html" %}
{% block content %}

<style>
   * {
       box-sizing: border-box;
   }
   /* Add a black background color to the top navigation */
   .navbar {
       overflow: hidden;
   }
   /* Style the links inside the navigation bar */
   .navbar {
       box-shadow: 0 1px 1px 0 rgba(0,0,0,1.9);
   }
   .navbar a {
       float: left;
       display: block;
       color: #000000;
       text-align: right;
       padding: 7px 40px;
       text-decoration: none;
       font-size: 17px;
       font-family: Roboto;
   }
   /* Change the color of links on hover */
   .navbar a:hover {
       color: #BD4D04;
   }

   legend {
  border: 1px solid #888;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: .5em;
  background-color: #B6452C;
}

body { padding-top: 70px;
       background-color: #DDC5A2;
       }

</style>

<div id="legend">
      <fieldset>
      <legend class="">Welcome {{ user_name }} !! <br>
          {{ message }}
          {{ message1 }}
      </legend>
<div class="navbar" id="menu">
  <a href="/buyerhome/{{ user_name }}">Home</a>
  <a href="/Myorders/{{ user_name}}">My Orders</a>
    <a href="/logout">Sign Out</a>
  </div>
      </fieldset>
</div>
<div class="col-md-4" xmlns="http://www.w3.org/1999/html">
    {% for order in orders %}
   <h4 style="margin-left:5em;"> Order ID : {{ order['Order_ID'] }}  </h4>
    <p style="margin-left:5em;">Order Status : {{ order['Order_Status'] }}</p>
    <p style="margin-left:5em;"> Item ID : {{ order['Item_ID'] }} </p>
        <p style="margin-left:5em;">Delivery Date : {{ order['Delivery_Date'] }}</p>
     <p style="margin-left:5em;">Return Date : {{ order['Return_Date'] }}</p>
     <p style="margin-left:5em;">Actual Return Date : {{ order['Actual_Return_Date'] }}</p>
    <p style="margin-left:5em;">Shipping_Address : {{ order['Shipping_Address'] }}</p>
    <p style="margin-left:5em;">Shipping_Date : {{ order['Shipping_Date'] }}</p>
     <a href="/return_item/{{ order['Order_ID'] }}/{{ order['Item_ID'] }}/{{ user_name }}"> <button class="btn btn-success" style="margin-left:5em;"> Return Item </button></a>
    <hr>

    {% endfor %}
</div>



{% endblock %}