<!--{% extends "base.html" %}-->
<!--{% block content %}-->
<!--<form class="form-horizontal" action='/upload/{{ user_name }}' method="POST" enctype="multipart/form-data">-->

<!--<div id="legend">-->
      <!--<fieldset>-->
      <!--<legend class="">Welcome {{ user_name }} !!! Please upload your apparel item image here <br>-->
       <!--{{ message }}-->
      <!--</legend>-->
          <!--</fieldset>-->
          <!--<div class="navbar" id="menu">-->
  <!--<a href="/sellerhome/{{ user_name }}">Home</a>-->
              <!--<a href="/all_orders_for_seller/{{ user_name}}">All Orders</a>-->
  <!--<a href="/orders_for_shipment/{{ user_name}}">Orders Ready for Shipment</a>-->
              <!--<a href="/orders_for_depositrefund/{{ user_name}}">Orders for Refunding Deposit</a>-->
              <!--<a href="/orders_for_depositwithhold/{{ user_name}}">Orders for Withholding Deposit</a>-->
    <!--<a href="/logout">Sign Out</a>-->
  <!--</div>-->

<!--<div class="control-group">-->
      <!--&lt;!&ndash; E-mail &ndash;&gt;-->
      <!--<label class="control-label" for="image">Image </label>-->
      <!--<div class="controls">-->
        <!--<input type="file" id="image" name="image" placeholder="" >-->
        <!--<p class="help-block">Upload the image of the item here</p>-->
      <!--</div>-->
    <!--</div>-->


  <!--<div class="control-group">-->
      <!--&lt;!&ndash; Button &ndash;&gt;-->
      <!--<div class="controls">-->
        <!--<button class="btn btn-success">Upload</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</fieldset>-->
<!--</form>-->

<!--{% endblock %}-->