
legend {
  border: 1px solid #888;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: .5em;
  background-color: #97B8C2;
}

body { padding-top: 70px;
       background-color: #D6C6B9;
       }

